@font-face {
    font-family: 'acherusgrotesque-regular';
    src: url('../polices/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('../polices/acherusgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maven';
    src: url('../polices/mavenpro-regular-webfont.woff2') format('woff2'),
		url('../polices/mavenpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family:'acherusgrotesque-regular';
	font-size: 19;
	background-color: #7c6c6c;
	padding-top: 9px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
	color: #ff0000;
}

#accueil {
	background-color: white;
}

#accueil div {
	text-align: center;
}

#accueil img {
	margin-top: 40px;
	max-width: 1000px;
}

#accueil h2 {
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: 'maven';
	color: #d10000;
	font-weight: bold;
}

#caracteristiques {
	background-color: #ddd9d9;
	text-align: center;
}

#caracteristiques p {
	text-align: justify;
}

#caracteristiques img {
	max-width: 300px;
}


img {
	width: 100%;
}

#ouacheter {
	text-align: center;
	height: 300px;
	background-color: #ddd9d9;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#recettes {
	background-color: white /*#ecf0f1*/;
	padding-top: 20px;
}


#recettes img {
	max-width: 300px;
}

#newsletter {
	padding-left:15%;
	padding-right:15%;
	padding-bottom:5%;
	background-color: #ddd9d9;
	padding-top: 3%;
}

a {
	font:black;
	text-decoration:none;
	text-align:center;
}

#carouselExampleIndicators {
	margin: 2% 7%;
}

.carousel-indicators li {
	background-color: #666666;
}

#batteurs {
	background-color: white;
	padding: 3% 0;
}

.logo {
	width: 60px;
	margin:3%;
}

.rec {
	text-align: center;
	text-decoration: bold;
}
	
h3 {
	text-align: center;
	padding: 10px 0;
	color: #d10000;
	font-family: 'maven';
	font-weight: bold;
}
	
.container {
	padding-top: 30px;
}

footer {
	color: white;
	font-size:small;
	text-align:center;
}

footer a {
	color: white;
}

footer p {
	display:inline-block;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
}

footer a:hover {
	color: red;
	text-decoration:none;
}


